@model systemBuy.Models.bills

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bills</h4>
    <hr />
    <dl class="uk-description-list uk-description-list-divider">
        <dt>
            @Html.DisplayNameFor(model => model.NameBuy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameBuy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.theReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theReviewDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="uk-button uk-button-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
