@model systemBuy.Models.bills

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>bills</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameBuy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameBuy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.theReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theReviewDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
