@model IEnumerable<systemBuy.Models.bills>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="uk-table uk-table-striped uk-table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameBuy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.billNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.theReviewDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameBuy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.billNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.theReviewDate)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.id }) |
                    @Html.ActionLink("تفاصيل", "Details", new { id = item.id }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
